body, html {
    height: 100%;
    box-sizing: border-box;
}
body {
    background-color: #f8ecf2;
    font-family: 'Quicksand', sans-serif;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
    padding: 5rem 3rem 0;
}
@media (min-width: 1536px) { 
    .container {
        padding: 5rem 15rem 0;
    }
}

.hero-container {
    grid-column: span 1 / span 1;
    align-self: center;
}
.hero-container > span {
    font-size: 36px;
}
.hero-text {
    font-weight: 700;
    font-size: 36px;
}

.header-container {
    width: 50rem;
    margin: 0 auto;
    grid-column: span 3 / span 3;
}
.header-text {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #8f3432;
}
.text-area {
    width: 100%;
    height: 10rem;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
}
.text-area::placeholder {
    color: #8f3432;
    opacity: 0.5;
}
.submit-btn {
    padding: 1rem 2.5rem;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #f8ecf2;
    background-color: #8f3432;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.submit-btn:hover {
    background-color: #a34846;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.3));
    bottom: 2px;
}

.result-container {
    grid-column: span 4 / span 4;
    width: 50rem;
    margin: 0 auto;
}
.result {
    margin-top: 5rem;
    background-color: #ece0e6;
    padding: 2rem;
}
.result > h2 {
    font-size: 26px;
}
.result > p {
    color: #8f3432;
    font-size: 18px;
}
.result-text {
    font-weight: 700;
}